#my-form{
  max-width: 500px !important;
}
#my-form input,textarea{
  background: var(--dark) !important;
  color: var(--lightv) !important;
}
#my-form label{
  color: var(--lightv);
}
#my-form-status{
  max-width: 500px !important;
}
.blur {
width:100%;
height:100%;
background-size:cover;
-webkit-filter: blur(4px);
-moz-filter: blur(4px);
-ms-filter: blur(4px);
-o-filter: blur(4px);
filter: blur(4px);
z-index: 9;
}
