body{
      background: url('https://www.dropbox.com/s/2ct3ihgi3dr7oys/concrete_seamless.png?raw=1');
}
.container{
  margin-top: 20px;
}
.btn-send{
  background-color: #294c85;
  color: #ededff;
  padding: 9px 33px 9px 33px;
  border: 1px solid white;
  border-radius: 20px;
}
.btn-send:hover{
  background-color: #3e79d9;
}
